 <!-- Header with Logo -->
  <header class="text-center mb-5">
    <img src="<%= asset_path 'Logo v2.png' %>" alt="Logo" class="logo img-fluid" style="max-width: 300px;">
  </header>




<div class="description-box">
<span id="typewriter-text" style="font-family: 'Orbitron', sans-serif; letter-spacing: 2px; color: rgba(200, 200, 200, 0.9); font-size: 1.2rem;"></span>
</div>

<div class="center-button">
  <%= link_to '   ENTER   ', spaceships_path, class: 'shadow-button' %>
</div>
