<header class="page-header">
  <img src="<%= asset_path 'Logo_Get_Yo_Ship.png' %>" alt="Logo" class="logo">
</header>





<div class="description-box">
  <p>
    Welcome to our spaceship rental service! Embark on an unforgettable journey through the stars, where adventure and discovery await. Browse our fleet, choose your ship, and launch into a world beyond imagination.
  </p>
</div>

<div class="center-button">
  <button class="shadow-button">Get Yo Ship</button>
</div>

