<header class="page-header">
  <img src="<%= asset_path 'Logo v2.png' %>" alt="Logo" class="logo">
</header>





<div class="description-box">
<span id="typewriter-text"></span>
</div>

<div class="center-button">
  <%= link_to '   Get Yo Ship   ', spaceships_path, class: 'shadow-button' %>
</div>
