<div class="col-md-4 mb-4">
  <div class="card bg-dark text-white h-100">
    <%= cl_image_tag spaceship.photo.key, class: "card-img-top", style: "height: 200px; object-fit: cover; width: 100%;" %>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title" style="font-family: 'Orbitron', sans-serif; letter-spacing: 1px;"><%= spaceship.name %></h5>
      <p class="card-text"><%= spaceship.description %></p>
      <%= link_to "DETAILS", spaceship_path(spaceship), class:"details-button" %>
      <%# <a href="#" class="btn mt-auto" style="font-family: 'Orbitron', sans-serif; letter-spacing: 2px; text-transform: uppercase; font-size: 0.8rem; background-color: #0a1d3b; color: white; box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); border-radius: 4px; padding: 8px 15px; transition: all 0.3s ease;">DETAILS <i class="fa-solid fa-angle-right ms-1"></i></a> %>
    </div>
  </div>
</div>
