.navbar-spaceships {
  justify-content: space-between;

  a {
    color: white;
    &:hover {
      color: gray;
    }
  }
}

.navbar-spaceships .navbar-collapse {
  flex-grow: 1;
  justify-content: space-between;
}

.navbar-spaceships .navbar-brand img {
  width: 40px;
}

.search-area {
  display: flex;
  flex-grow: 3;
  max-width: 700px;
  align-items: center;
}

.space-input {
  max-width: 300px;
}

.space-button {
  background-color: #007bff; 
  color: white;
  border: none;
}
