.navbar-spaceships {
  justify-content: space-between;

  a {
    color: white ;
    &:hover {
      color: gray;
    }
  }
}

.navbar-spaceships .navbar-collapse {
  flex-grow: 0;
}

.navbar-spaceships .navbar-brand img {
  width: 40px;
}
